<header class="cabecalho">
    <h1>Sistema de venda de ingressos</h1>
    <div>
        <a href="">Login</a>
        <a href="">Meus ingressos</a>
        <a href="">Admin</a>
        <a href="">Sair</a>
    </div>
</header>