<header class="cabecalho">
    <h1>Sistema de venda de ingressos</h1>
    <div>
        <a href="/ingressos">Início</a>
        {{#if user}}
            {{#if user.isAdmin}}
                <a href="/usuarios/area-admin">Admin</a>
            {{/if}}

            <a href="/compras">Meus ingressos</a>
            <a href="/usuarios/logout">Sair</a>
        {{else}}
            <a href="/usuarios/login">Login</a>
            <a href="/usuarios/criar-conta">Criar conta</a>
        {{/if}}
    </div>
</header>