{{#if erro}}
    <div class="alerta-erro">{{erro}}</div>
{{/if}}

<div class="form-container">
    <div>
        <h1>{{title}}</h1>
        <form action="/ingressos/editar/{{ingresso._id}}" method="post">
            <input type="text" name="nome" placeholder="Nome">
            <input type="number" step="0.01" name="preco" placeholder="Preço">
            <input type="number" name="quantidade" placeholder="Quantidade">
            <button type="submit">Editar ingresso</button>
        </form>
    </div>
</div>