<div class="principal">
    <div>
        <h4>Aqui você encontra ingressos para qualquer tipo de evento, compre seus ingressos e veja suas compras.</h4>
        <a href="/ingressos">Ver ingressos</a>
    </div>
</div>